body {
	background-color: gray;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
}
img {
	display: inline;
	width: 100%;
	height: 100%;
}
.main__window {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.slider input {
	display: none;
}
.slider {
	width: 40%;
	overflow: hidden;
}

.carousel {
	overflow: hidden;
}
.carousel ul {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 500%;
	padding: 0;
	margin: 0;
}
.carousel li {
	list-style: none;	
	display: inline;
	margin: auto;
}

.controls {
	padding: 2vh 0;
	display: flex;
	margin: auto;
	justify-content: center;
}
.controls label {
	height: 2vh;
	width: 2vh;
	border-radius: 50%;
	border: 2px solid darkolivegreen;
	cursor: pointer;
	transition: all 0.3s;
	margin: 0.6vh;
}
.controls label:hover {
	background-color: darkolivegreen;
}

.texts {
	margin: auto;
	text-align: center;
}
.texts ul {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 500%;
	padding: 0;
	margin: 0;
}
.texts li {
	margin: 0;
	width: 100%;
	font-size: 5vh;
	list-style: none;	
	display: inline;
	margin: auto;
}

#img0:checked ~ .carousel ul {
	margin-left: 0;
	transition: all 0.8s ease-in-out;
}
#img1:checked ~ .carousel ul {
	margin-left: -100%;
	transition: all 0.8s ease-in-out;
}
#img2:checked ~ .carousel ul {
	margin-left: -200%;
	transition: all 0.8s ease-in-out;
}
#img3:checked ~ .carousel ul {
	margin-left: -300%;
	transition: all 0.8s ease-in-out;
}
#img4:checked ~ .carousel ul {
	margin-left: -400%;
	transition: all 0.8s ease-in-out;
}

#img0:checked ~ .controls .label-0 {
	background-color: wheat;
	border-color: wheat;
	cursor: auto;
}
#img1:checked ~ .controls .label-1 {
	background-color: wheat;
	border-color: wheat;
	cursor: auto;
}
#img2:checked ~ .controls .label-2 {
	background-color: wheat;
	border-color: wheat;
	cursor: auto;
}
#img3:checked ~ .controls .label-3 {
	background-color: wheat;
	border-color: wheat;
	cursor: auto;
}
#img4:checked ~ .controls .label-4 {
	background-color: wheat;
	border-color: wheat;
	cursor: auto;
}

#img0:checked ~ .texts ul {
	margin-left: 0;
	transition: all 0.3s;
}
#img1:checked ~ .texts ul {
	margin-left: -100%;
	transition: all 0.3s;
}
#img2:checked ~ .texts ul {
	margin-left: -200%;
	transition: all 0.3s;
}
#img3:checked ~ .texts ul {
	margin-left: -300%;
	transition: all 0.3s;
}
#img4:checked ~ .texts ul {
	margin-left: -400%;
	transition: all 0.3s;
}
